@page
@model WebTestAzure.Pages.HakpModel
@{
    ViewData["Title"] = "HakP";
}

<div class="text-center">
    <h1 class="display-4">HAK TestAzure Razor</h1>
    <h2>(dotnet new razor)</h2>
    <p>
        Zu finden unter <a href="https://webtestazure20221009184457.azurewebsites.net">webtestazure20221009184457.azurewebsites.net</a>.
    </p>
    <p>
        Portal <a href="https://portal.azure.com/#home" @{
                  Output.Write(Program._target);
                  }>https://portal.azure.com/#home</a>.
    </p>
    <p>
        <a href="https://github.com/hermannakruse/hermannakruse" @{
           Output.Write(Program._target);
           } title="GitHub hermannakruse" type="text/html">GitHub hermannakruse</a>
    </p>
    <picture>
        <source media="(min-width: 1200px)" srcset="/bilder/RahelBig.jpg">
        <source media="(min-width: 768px)" srcset="/bilder/RahelPho.jpg">
        <!---Fallback--->
        <img src="/bilder/RahelPho2.jpg" alt="wilde Blume von einem Gebirgssee">
    </picture>
</div>
<style>
    .beAusgabe {
        margin-top: 1em;
        border: thin solid red;
        padding: 0.5em;
        text-align: center;
        overflow-wrap: break-word;
    }

    .beLine {
        color: gray;
        font-weight: 100;
    }

    .beBold {
        font-weight: 500;
    }

</style>
<div class="beAusgabe">
    @{

        string cL(string val, int maxL = 140)
        {
            if (!string.IsNullOrWhiteSpace(val) && val.Length > maxL)
            {
                return HtmlEncoder.Encode(val.Substring(0, maxL - 3)) + " &#x2704;";
            }

            return HtmlEncoder.Encode(val);
        }

        var sb = new System.Text.StringBuilder();
        string myLocalTime = "W. Europe Standard Time";// TimeZoneInfo.Local.Id;
        var dT = Program.nowD.ToUniversalTime();
        TimeZoneInfo myLocalTimeZone = TimeZoneInfo.FindSystemTimeZoneById(myLocalTime);
        var hx1 = "<H4>";
        var hx2 = "</H4>";

        try
        {
            sb.Append($"{hx1}DateTime{hx2}");
            sb.Append($@"<p>{myLocalTime} : {TimeZoneInfo.ConvertTime(dT, myLocalTimeZone):dd\.MM\.yyyy HH\:mm\:ss}</p>");
            //Output.Write($@"<p>{myLocalTime} : {TimeZoneInfo.ConvertTime(dT, myLocalTimeZone):dd\.MM\.yyyy HH\:mm\:ss}</p>");
        }
        catch (TimeZoneNotFoundException)
        {
            Output.Write("Unable to find the {0} zone in the registry.",
            myLocalTime);
        }

        var id = $"{HttpContext.Connection.RemoteIpAddress}:{HttpContext.Connection.RemotePort}";
        var z1 = "<div class=\"beLine\">";
        var z2 = "</div>";
        var s1 = "<span class=\"beBold\">";
        var s2 = "</span>";

        var hE = HtmlEncoder;
        sb.Append($"{hx1}Request.Headers{hx2}");
        foreach (var h in HttpContext.Request.Headers) //.Where(k => k.Key == "User-Agent")
        {
            sb.Append($"{z1}{s1}{hE.Encode(h.Key)}: {s2} {hE.Encode(h.Value)}{z2}");
        }


        sb.Append($"{hx1}User{hx2}");

        foreach (string c in Program.showSec.OrderBy(c => c))
        {
            if (id == c)
            {
                sb.Append($"{z1}{s1}ID: {c}{s2}{z2}");
            }
            else
            {
                sb.Append($"{z1}IDs: {c}{z2}");
            }
        }

        List<string> list = new List<string>();
        var gD = System.Environment.GetEnvironmentVariables();
        var gDK = gD.Keys.Cast<string>().OrderBy(c => c);
        sb.Append($"{hx1}Environment{hx2}");
        foreach (var c_ in gDK)
        {
            var c = c_?.ToString();
            if (!string.IsNullOrEmpty(c))
            {
                var val = gD[c]?.ToString();
                if (!string.IsNullOrEmpty(val))
                {
                    var t = $"{s1}{HtmlEncoder.Encode(c)} :{s2} {cL(val)}";
                    sb.AppendLine($"{z1}{t}{z2}");
                }
            }
        }

        Output.WriteLine(sb);
    }
</div>

