@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy";
}
<h1>@ViewData["Title"]</h1>

<p>Das ganze habe ich auf GitHub geladen somit Privacy eher nicht.</p>
<p>&copy; 2023 Hermann A. Kruse 20.09.2022 13:00</p>

