@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HAK WebTestAzure</h1>
    <p>
        <a href="https://webtestazure20221009184457.azurewebsites.net">Zu finden unter webtestazure20221009184457.azurewebsites.net</a>.</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
