@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HAK WebTestAzure</h1>
    <p>
        Zu finden unter <a href="https://webtestazure20221009184457.azurewebsites.net">webtestazure20221009184457.azurewebsites.net</a>.
    </p>
        <p>Hab das ganze auf Net6.0 umgestellt. Mahl sehen was passiert.</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <img src="bilder/rahel.jpg" width="40%" />

</div>
