@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HAK WebTestAzure</h1>
    <p>
        Zu finden unter <a
            href="https://webtestazure20221009184457.azurewebsites.net">webtestazure20221009184457.azurewebsites.net</a>.
    </p>

    <picture>
        <source media="(min-width: 1200px)" srcset="bilder/RahelBig.jpg">
        <source media="(min-width: 768px)" srcset="bilder/RahelPho.jpg">
        <!---Fallback--->
        <img src="bilder/RahelPho2.jpg" alt="wilde Blume vor einem Gebirgssee">
    </picture>   

</div>
