@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Das ganze habe ich auf GitHub geladen somit Privacy eher nicht.</p>
<p><a href="https://github.com/hermannakruse/hermannakruse" title="GitHub hermannakruse" type="text/html">GitHub hermannakruse</a></p>
