@{
    ViewData["Title"] = "Privacy";
}
<h1>@ViewData["Title"]</h1>

<p>Das ganze habe ich auf GitHub geladen somit Privacy eher nicht.</p>
<p>&copy; 2022 Hermann A. Kruse</p>
<p>13.10.2022 18:34</p>

